<img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png">
<button>Simpan</button>
<button href="{% url 'profile'%}">Keluar</button>
<p>NPM:{{npm}}</p>
<p>Data Pribadi</p>
{% if linked %}
	<p>
		Nama : {{name}}
		Email : {{email}}
		Profile LinkedIn: {{profile}}
	</p>
{% else %}
<script type="in/Login"></script>
{% endif %}

<form method="POST" action="{% url 'profile:add-keahlian' %}" class="form-inline">
    <label> Keahlian </label> <input type="text" class="form-control" name="keahlian" placeholder="keahlian">
    <label> Level </label> <input type="text" class="form-control" name="level" placeholder="level">
    <input type="submit" class="btn btn-primary pull-right">
</form>

<ul>
	{% for item in keahlian%}
	<li>{{item.jenis}} - {{item.level}}</li>
	{% endfor %}
</ul>