{% extends "app_riwayat/layout/base.html" %}
{% load staticfiles%}

{% block content %}


<p>Nama: {{name}}</p>
<p>NPM: {{npm}}</p>
<ul>
	{% for item in keahlian%}
	<li>{{item.jenis}} - {{item.level}}</li>
	{% endfor %}
</ul>
<p>Email: {{email}}</p>
<p>Profile LinkedIn: {{link}}</p>

{% endblock%}