{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/app_riwayat.css' %}" type="text/css">
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81ryllvsk1psxs
    authorize: true
    onLoad: onLinkedInLoad
  </script>
  <title>konek.in | Kelompok 5C</title>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">konek.in</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile/">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app-riwayat/">Riwayat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status/">Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carimahasiswa/">Teman</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <button class="btn btn-primary" type="submit"> 
		  <a href="{% url 'login:auth_logout' %}" style="color: white"> Logout </a></button>
        </form>
      </div>
    </div>
  </nav>
  <div class="py-5 gradient-overlay" style="background-image: url(&quot;https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/1681874-poster-1920-how-adventure-time-keeps-it-real.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-white">
          <img class="img-fluid d-block mx-auto mb-5" src="https://material-components-web.appspot.com/images/animal3.svg" style="width: 200px;"> </div>
        <div class="col-md-9 text-white align-self-center">
          <h1 class="display-3 mb-4">Welcome, {{name}}!</h1>
          <p class="lead mb-5">Jumlah Status: {{feed}}
            <br>
            <br>{{last}} &nbsp; &nbsp; &nbsp; &nbsp;
            <br> </p>
          <a href="#" class="btn btn-lg mx-1 btn-secondary">Edit Profile</a>
          <a href="#" class="btn btn-lg btn-primary mx-1">Lihat Forum</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row" style="margin-left: 10%;">
        <div class="col-md-12">
          <a class="btn btn-primary py-3" id="one" href="/profile/" style="width: 20%">Profil</a>
          <a class="btn py-3 btn-dark" id="two" href="/status/" style="width: 20%">Status</a>
          <a class="btn btn-primary py-3" id="three" href="/app-riwayat/" style="width: 20%">Riwayat</a>
          <a class="btn py-3 btn-dark" id="four" href="/carimahasiswa/" style="width: 20%">Teman</a>
        </div>
      </div>
    </div>
  </div>

  <div class = "content">
    {% block content %}
    {% endblock %}
  </div>

  <div class="py-5"></div>
  <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white">TUGAS 2 PPW</h2>
          <p class="lead text-light">Copyright 2017 Group 5C using Pingendo - All rights reserved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 p-4">
          <p class="text-white"><b>Winston Chandra</b>&nbsp;
            <br>Login &amp; Status</p>
        </div>
        <div class="col-md-3 p-4">
          <p class="text-white"><b class="text-light">Tatag Aziz</b>
            <br>Profil</p>
        </div>
        <div class="col-md-3 p-4">
          <p class="text-light"><b>Firandra Savitri</b>
            <br>Riwayat</p>
        </div>
        <div class="col-md-3 p-4">
          <p class="text-light"><b>Nabilah Badriyah</b>
            <br>Cari Teman</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
