@import url('https://fonts.googleapis.com/css?family=Muli');
body{
   font-family: Muli;
   background-color: #f6f6f6;
}
.container {
	width: 90%;
	text-align: center;
}
.info {
	float: left;
	width: 33%;
}