{% extends "app_riwayat/layout/base.html" %}
{% load staticfiles %}

{% block content %} 
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<h2>Cari Mahasiswa</h2>

<input type="radio" name="check" id="npmCheck" checked> NPM
<input type="radio" name="check" id="namaCheck"> Nama
<input type="radio" name="check" id="angkatanCheck"> Angkatan
<input type="radio" name="check" id="keahlianCheck"> Keahlian

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">

<!-- <input type="text" id="namaInput" onkeyup="myFunction()" placeholder="Cari berdasarkan Nama" title="Type in a name">
<input type="text" id="angkatanInput" onkeyup="myFunction()" placeholder="Cari berdasarkan Angkatan" title="Type in a name">
<input type="text" id="keahlianInput" onkeyup="myFunction()" placeholder="Cari berdasarkan Keahlian" title="Type in a name"> -->

<table id="myTable">
  <tr class="header">
    <th style="width:25%;">NPM</th>
    <th style="width:25%;">Nama</th>
    <th style="width:25%;">Angkatan</th>
    <th style="width:25%;">Keahlian</th>
  </tr>
  <tr>
    <td>1606918156</td>
    <td>A</td>
    <td>2016</td>
    <td>apa ya</td>
  </tr>
  <tr>
    <td>1606918146</td>
    <td>B</td>
    <td>1923</td>
    <td>hepihepi</td>
  </tr>
  <tr>
    <td>1606918123</td>
    <td>C</td>
    <td>1945</td>
    <td>bobo</td>
  </tr>
 
</table>

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  if (document.getElementById('npmCheck').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('namaCheck').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('angkatanCheck').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('keahlianCheck').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } 
}

</script>

</body>
</html>
{% endblock %}