
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'login:index' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id = "LogOutBut"></li>
    </ul>
  </div>
</nav>

