{% extends "app_riwayat/layout/base.html" %}
{% load staticfiles %}

{% block content %}
<br><br>
{% if login %}
<div class="content">
<section name="input-list" id="input-list">
    <div class="container" style="margin-left: 5%;">
        <form id="form" method="POST" action="{% url 'status:add_status' %}">
            <p name="status-tagline">What's on your mind?</p>
            {% csrf_token %}
            {{ status_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-primary" value="Submit">
            <br>
        </form>
    </div>
</section>

{% endif %}
<section name="my-list" id="my-list">
    <div class="container">
    <br><br>
        <div class="flex">
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="status" style="background-color: #343a40;color: white; padding: 15px; border-radius: 10px">
                            <div class="prof-pic"><img src="https://material-components-web.appspot.com/images/animal3.svg" width="50px" height="50px" style="border-radius: 50%"></div>
                            <a href="/status/delete_status/{{ data.id }}" class="close" style="margin-top: -40px;margin-right: 10px">
                                <img src="http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.hi.png" width="20px" height="20px"></img>
                            </a>
                            <div class="name" style="font-size: 20px">{{data.name}}</div>
                            <div class="status-description" style="font-size: 18px;margin-top: 10px">
                                {{data.description}}
                            </div>
                            <div class="status-date-added" style="color: grey">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Status.
            </div>
            {% endif %}
        </div>
    </div>
</section>
</div>
{% endblock %}