{% extends "app_riwayat/layout/base.html" %}
{% load staticfiles %}

{% block content %}	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $(".nilai").text("Dirahasiakan");
    });
    $("#show").click(function(){
        $(".table").html('<table class="table">\
            <thead>\
                <th> No </th>\
                <th> Nama Mata Kuliah </th>\
                <th> Kode Kelas </th>\
                <th> Term </th>\
                <th> Nilai </th>\
                </thead>\
            <tbody>\
            {% for matkul in matkuls %}\
            <tr>\
                <td> {{ forloop.counter }}</td>\
                <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>\
                <td> {{ matkul.kelas.kd_kls }}</td>\
                <td> {{ matkul.term }}</td>\
                <td class="nilai"> {{ matkul.nilai }}</td>\
            </tr>\
            {% endfor %}\
            </tbody>\
        </table>');
    });
});
</script>
	<div class="panel-body" align="center">
        <br>
        <button class="btn btn-dark" id="hide" style="back">Sembunyikan Nilai</button>
        <button class="btn btn-dark" id="show">Tampilkan Nilai</button>
        <br><br><br>
        <table class="table">
            <thead>
	            <th> No </th>
	            <th> Nama Mata Kuliah </th>
	            <th> Kode Kelas </th>
	            <th> Term </th>
	            <th> Nilai </th>
	            </thead>
            <tbody>
            {% for matkul in matkuls %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>
                <td> {{ matkul.kelas.kd_kls }}</td>
                <td> {{ matkul.term }}</td>
                <td class="nilai"> {{ matkul.nilai }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}